@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),url('../fonts/Raleway-VariableFont_wght.ttf');
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
main{
    flex: 1;
}